In [169]:
import pandas as pd

fr_data = pd.read_csv("./data/names.csv", encoding='cp949')
t_data = pd.read_csv("./data/youqize3.csv", encoding ='utf-8')
th_data = pd.read_csv("./data/youqize4.csv", encoding='cp949')


temp_data = pd.read_csv("./data/person_elements_data.csv", encoding='utf-8')

In [170]:
fr_data.head()

   Unnamed: 0   이름    직업 성별  나이
0           1  이충규  전문기술  M  중년
1           2  박준형   연예인  M  중년
2           3  이시연    기타  W  노인
3           4  이명자    기타  W  노인
4           5  양경우    기타  W  청년

In [171]:
fr_data['직업'].unique()

array(['전문기술', '연예인', '기타', '서비스', '학생', '운동선수', '사회복지', '예술인', '예술가',
       '산업', '연에인', '금융', '사업', '에술인', '크리에이터', nan, '엔지니어'], dtype=object)

In [108]:
name = pd.read_csv('/Users/2suyeon/Desktop/zerobase/1조 유튜브/re_names - re_naem.csv', encoding='utf-8')

In [109]:
name['직업'].unique()

array(['전문기술', '연예인', '기타', '서비스', '운동선수', '사회복지', '예술가', '산업', '금융', nan],
      dtype=object)

In [126]:
name.loc[name['이름'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, 이름, 직업, 성별, 나이]
Index: []

#### 오타 수정하기  -연에인 연에인 
#### 예술인 - 예술가 ,  학생 - 기타  에술인- 예술가 , 엔지니어-전문기술

In [123]:
name.loc[name['이름'] == '나문희', '성별'] = 'W'

In [127]:
name.to_csv('re_naem\(2\).csv', encoding='utf-8') # null 값 제거

In [172]:
name_data = pd.read_csv('/Users/2suyeon/Desktop/zerobase/1조 유튜브/re_naem\(2\).csv', encoding='utf-8') # 제거된 새로운 name 데이터

In [176]:
name_data['직업'].unique() # 나중에 분류 해야될 종류확인

array(['전문기술', '연예인', '기타', '서비스', '운동선수', '사회복지', '예술가', '산업', '금융'],
      dtype=object)

In [177]:
t_data.head()

,Unnamed: 0,제목,설명,출연자_정보,조회수,좋아요수,댓글수,재생시간(초),년도,회차,출연자
0,0,전설의 유재석 댄싱킹 (엑소♥) | 유 퀴즈 온 더 블럭 YOU QUIZ ON TH...,수요일 밤 11시 tvN ＜유 퀴즈 온 더 블럭＞\n-----------------...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",7722,90,4,189.0,2018,1.0,NaN
1,1,자기야 이런 걸로 웃기지마 (너무 아포) | 유 퀴즈 온 더 블럭 YOU QUIZ ...,수요일 밤 11시 tvN ＜유 퀴즈 온 더 블럭＞\n-----------------...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",1862,26,3,119.0,2018,1.0,NaN
2,2,'tvN 새내기' 유재석 + 조세호가 바로 뽑아 쏜다! | 유 퀴즈 온 더 블럭 Y...,너는 풀어라! 나는 쏠테니!\n유재석X조세호의 유쾌한 서프라이즈!\n\n＜유 퀴즈 ...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",955,19,3,79.0,2018,1.0,NaN
3,3,회사 다니는거 맞죠? 첫번째 ′워라밸′ 유퀴저 | 유 퀴즈 온 더 블럭 YOU QU...,수요일 밤 11시 tvN ＜유 퀴즈 온 더 블럭＞\n-----------------...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",685,13,2,121.0,2018,1.0,NaN
4,4,"유&조, 토스트집 사장님의 ′타임슬립′에 폭소! | 유 퀴즈 온 더 블럭 YOU Q...",수요일 밤 11시 tvN ＜유 퀴즈 온 더 블럭＞\n-----------------...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",589,12,1,89.0,2018,1.0,NaN

In [178]:
th_data.head()

,Unnamed: 0,제목,설명,출연자_정보,조회수,좋아요수,댓글수,재생시간(초),년도,회차,출연자
0,0,전설의 유재석 댄싱킹 (엑소♥) |,수요일 밤 11시 tvN ＜유 퀴즈 온 더 블럭＞\n-----------------...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",7722,90,4,189,2018,1.0,NaN
1,1,자기야 이런 걸로 웃기지마 (너무 아포) |,수요일 밤 11시 tvN ＜유 퀴즈 온 더 블럭＞\n-----------------...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",1862,26,3,119,2018,1.0,NaN
2,2,tvN 새내기' 유재석 + 조세호가 바로 뽑아 쏜다! |,너는 풀어라! 나는 쏠테니!\n유재석X조세호의 유쾌한 서프라이즈!\n\n＜유 퀴즈 ...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",955,19,3,79,2018,1.0,NaN
3,3,회사 다니는거 맞죠? 첫번째 ′워라밸′ 유퀴저 |,수요일 밤 11시 tvN ＜유 퀴즈 온 더 블럭＞\n-----------------...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",685,13,2,121,2018,1.0,NaN
4,4,"유&조, 토스트집 사장님의 ′타임슬립′에 폭소! |",수요일 밤 11시 tvN ＜유 퀴즈 온 더 블럭＞\n-----------------...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",589,12,1,89,2018,1.0,NaN

In [179]:
temp_data.head()

,시즌,에피소드,날짜,주제,출연자,직업,시청률
0,1,1,2018-08-29,Step by Step,서유림 Sm Uzzal Sompa Sharin 임일빈 김명화 김태범 박희상,"1, 2, 3, 4, 5",2.3
1,1,2,2018-09-05,만남,김성중 박종훈 정재영 김성섭 최재이 길영인 양은영 이단비,"6, 7, 8, 9, 10, 11",1.9
2,1,3,2018-09-12,비와 당신,박현준 김정원 조아영 신호순 토토 Emo Ismail 김호진 양지훈 안혜진 ...,"13, 14, 15, 16, 17, 18, 19, 20",1.8
3,1,4,2018-09-19,Power Up,김재영 이화영 최혜원 정서현 김윤배 박시현 송경숙 문은경 이수민 김수현,"21, 22, 23, 24, 25, 26",1.9
4,1,5,2018-09-26,동네 한 바퀴,김수현 김지현 유광수 박현정 박누리 조가영 고효석 김종순 조부자 원정윤 ...,"29, 30, 31, 32, 33, 34, 35",1.5

### 새로운 데이터에 날짜 추가하기

In [180]:
temp_data["날짜"] = temp_data["날짜"].str.replace('-','').str[2:] # 날짜 데이터 수정하기

In [181]:
temp_data['날짜']

0      180829
1      180905
2      180912
3      180919
4      180926
        ...
224    231227
225    240103
226    240110
227    240117
228    240124
Name: 날짜, Length: 229, dtype: object

In [182]:
year_data = temp_data['날짜']

new_data =pd.DataFrame(year_data)  # 데이터 합치기 시작 1. 날짜

# 회차 추가하기

In [183]:
data = []

for i in range(1, 229):
    data.append('EP' +'.' + str(i) +''+ '회차')  # 시각적으로 몇 회차인지 보기 쉽게 만들기

# 결과 확인
print(data)

temp2={'회차': data}

['EP.1회차', 'EP.2회차', 'EP.3회차', 'EP.4회차', 'EP.5회차', 'EP.6회차', 'EP.7회차', 'EP.8회차', 'EP.9회차', 'EP.10회차', 'EP.11회차', 'EP.12회차', 'EP.13회차', 'EP.14회차', 'EP.15회차', 'EP.16회차', 'EP.17회차', 'EP.18회차', 'EP.19회차', 'EP.20회차', 'EP.21회차', 'EP.22회차', 'EP.23회차', 'EP.24회차', 'EP.25회차', 'EP.26회차', 'EP.27회차', 'EP.28회차', 'EP.29회차', 'EP.30회차', 'EP.31회차', 'EP.32회차', 'EP.33회차', 'EP.34회차', 'EP.35회차', 'EP.36회차', 'EP.37회차', 'EP.38회차', 'EP.39회차', 'EP.40회차', 'EP.41회차', 'EP.42회차', 'EP.43회차', 'EP.44회차', 'EP.45회차', 'EP.46회차', 'EP.47회차', 'EP.48회차', 'EP.49회차', 'EP.50회차', 'EP.51회차', 'EP.52회차', 'EP.53회차', 'EP.54회차', 'EP.55회차', 'EP.56회차', 'EP.57회차', 'EP.58회차', 'EP.59회차', 'EP.60회차', 'EP.61회차', 'EP.62회차', 'EP.63회차', 'EP.64회차', 'EP.65회차', 'EP.66회차', 'EP.67회차', 'EP.68회차', 'EP.69회차', 'EP.70회차', 'EP.71회차', 'EP.72회차', 'EP.73회차', 'EP.74회차', 'EP.75회차', 'EP.76회차', 'EP.77회차', 'EP.78회차', 'EP.79회차', 'EP.80회차', 'EP.81회차', 'EP.82회차', 'EP.83회차', 'EP.84회차', 'EP.85회차', 'EP.86회차', 'EP.87회차', 'EP.88회차', 'EP.89회차', 'EP.90회차', 'EP.91회차', 'EP.92회차', 'EP.93회차', 'EP.94회차', 'EP.95회차', 'EP.96회차', 'EP.97회차', 'EP.98회차', 'EP.99회차', 'EP.100회차', 'EP.101회차', 'EP.102회차', 'EP.103회차', 'EP.104회차', 'EP.105회차', 'EP.106회차', 'EP.107회차', 'EP.108회차', 'EP.109회차', 'EP.110회차', 'EP.111회차', 'EP.112회차', 'EP.113회차', 'EP.114회차', 'EP.115회차', 'EP.116회차', 'EP.117회차', 'EP.118회차', 'EP.119회차', 'EP.120회차', 'EP.121회차', 'EP.122회차', 'EP.123회차', 'EP.124회차', 'EP.125회차', 'EP.126회차', 'EP.127회차', 'EP.128회차', 'EP.129회차', 'EP.130회차', 'EP.131회차', 'EP.132회차', 'EP.133회차', 'EP.134회차', 'EP.135회차', 'EP.136회차', 'EP.137회차', 'EP.138회차', 'EP.139회차', 'EP.140회차', 'EP.141회차', 'EP.142회차', 'EP.143회차', 'EP.144회차', 'EP.145회차', 'EP.146회차', 'EP.147회차', 'EP.148회차', 'EP.149회차', 'EP.150회차', 'EP.151회차', 'EP.152회차', 'EP.153회차', 'EP.154회차', 'EP.155회차', 'EP.156회차', 'EP.157회차', 'EP.158회차', 'EP.159회차', 'EP.160회차', 'EP.161회차', 'EP.162회차', 'EP.163회차', 'EP.164회차', 'EP.165회차', 'EP.166회차', 'EP.167회차', 'EP.168회차', 'EP.169회차', 'EP.170회차', 'EP.171회차', 'EP.172회차', 'EP.173회차', 'EP.174회차', 'EP.175회차', 'EP.176회차', 'EP.177회차', 'EP.178회차', 'EP.179회차', 'EP.180회차', 'EP.181회차', 'EP.182회차', 'EP.183회차', 'EP.184회차', 'EP.185회차', 'EP.186회차', 'EP.187회차', 'EP.188회차', 'EP.189회차', 'EP.190회차', 'EP.191회차', 'EP.192회차', 'EP.193회차', 'EP.194회차', 'EP.195회차', 'EP.196회차', 'EP.197회차', 'EP.198회차', 'EP.199회차', 'EP.200회차', 'EP.201회차', 'EP.202회차', 'EP.203회차', 'EP.204회차', 'EP.205회차', 'EP.206회차', 'EP.207회차', 'EP.208회차', 'EP.209회차', 'EP.210회차', 'EP.211회차', 'EP.212회차', 'EP.213회차', 'EP.214회차', 'EP.215회차', 'EP.216회차', 'EP.217회차', 'EP.218회차', 'EP.219회차', 'EP.220회차', 'EP.221회차', 'EP.222회차', 'EP.223회차', 'EP.224회차', 'EP.225회차', 'EP.226회차', 'EP.227회차', 'EP.228회차']

In [184]:
tmep=pd.DataFrame(temp2)

In [185]:
tmep.head()

       회차
0  EP.1회차
1  EP.2회차
2  EP.3회차
3  EP.4회차
4  EP.5회차

In [186]:
new_data['회차']=tmep['회차']

In [187]:
new_data.head()

       날짜      회차
0  180829  EP.1회차
1  180905  EP.2회차
2  180912  EP.3회차
3  180919  EP.4회차
4  180926  EP.5회차

# 주제, 출연자 , 시청률 추가 하기

In [188]:
temp_data.head()

,시즌,에피소드,날짜,주제,출연자,직업,시청률
0,1,1,180829,Step by Step,서유림 Sm Uzzal Sompa Sharin 임일빈 김명화 김태범 박희상,"1, 2, 3, 4, 5",2.3
1,1,2,180905,만남,김성중 박종훈 정재영 김성섭 최재이 길영인 양은영 이단비,"6, 7, 8, 9, 10, 11",1.9
2,1,3,180912,비와 당신,박현준 김정원 조아영 신호순 토토 Emo Ismail 김호진 양지훈 안혜진 ...,"13, 14, 15, 16, 17, 18, 19, 20",1.8
3,1,4,180919,Power Up,김재영 이화영 최혜원 정서현 김윤배 박시현 송경숙 문은경 이수민 김수현,"21, 22, 23, 24, 25, 26",1.9
4,1,5,180926,동네 한 바퀴,김수현 김지현 유광수 박현정 박누리 조가영 고효석 김종순 조부자 원정윤 ...,"29, 30, 31, 32, 33, 34, 35",1.5

In [189]:
new_data['주제'] = temp_data['주제']
new_data['출연자']= temp_data['출연자']
new_data['시청률'] = temp_data['시청률']

In [190]:
new_data.head()

,날짜,회차,주제,출연자,시청률
0,180829,EP.1회차,Step by Step,서유림 Sm Uzzal Sompa Sharin 임일빈 김명화 김태범 박희상,2.3
1,180905,EP.2회차,만남,김성중 박종훈 정재영 김성섭 최재이 길영인 양은영 이단비,1.9
2,180912,EP.3회차,비와 당신,박현준 김정원 조아영 신호순 토토 Emo Ismail 김호진 양지훈 안혜진 ...,1.8
3,180919,EP.4회차,Power Up,김재영 이화영 최혜원 정서현 김윤배 박시현 송경숙 문은경 이수민 김수현,1.9
4,180926,EP.5회차,동네 한 바퀴,김수현 김지현 유광수 박현정 박누리 조가영 고효석 김종순 조부자 원정윤 ...,1.5

# 지금 필요한거 직업, 성별

### 성별 카운트 해서 넣어야 겠다. 
### 어린이,청소년,청년,중년,노인 > 카운트 

### 직업은..

In [191]:
actors = new_data['출연자'][0].split(' ')

print(actors)

['서유림', 'Sm', 'Uzzal', '', 'Sompa', 'Sharin', '임일빈', '김명화', '김태범', '', '박희상']

In [192]:
fr_data.notnull()

      Unnamed: 0    이름    직업     성별    나이
0           True  True  True   True  True
1           True  True  True   True  True
2           True  True  True   True  True
3           True  True  True   True  True
4           True  True  True   True  True
...          ...   ...   ...    ...   ...
1066        True  True  True   True  True
1067        True  True  True   True  True
1068        True  True  True  False  True
1069        True  True  True  False  True
1070        True  True  True  False  True

[1071 rows x 5 columns]

#### 모듈로 수정할것

In [193]:
# 출연진 이름 빼기

#성별

m_data=[] #남성
w_data=[] #여성

#나이

child=[] #어린이
teen=[] #청소년
you=[] #청년
mid=[] #중년
o=[] #노인

#직업

o1 = [] #전문기술
o2 = [] #연예인
o3 = [] #기타
o4 = [] #서비스
o5 = [] #운동선수
o6 = [] #사회복지
o7 = [] #예술가
o8 = [] #산업
o9 = [] #금융




for i in range(229):
    male_count = 0
    female_count = 0
    children = 0
    Teenager = 0
    youth = 0
    middle =0
    old =0 

    job1=0 # 모듈로 나중에 수정
    job2=0
    job3=0
    job4=0
    job5=0
    job6=0
    job7=0
    job8=0
    job9=0


    actors = new_data['출연자'][i].split(' ')
    for name in actors:
        filtered_df = name_data[name_data['이름'] == name]
        if not filtered_df.empty:
            gender = filtered_df['성별'].iloc[0]  
            print(f'gender :{gender}')
            if gender == 'M':
                male_count += 1
            elif gender == 'W':
                female_count += 1
        if not filtered_df.empty:
            age = filtered_df['나이'].iloc[0]
            if age == '어린이':
                children +=1
            elif age == '청소년':
                Teenager +=1
            elif age == '청년':
                youth +=1
            elif age == '중년':
                middle +=1
            elif age == '노인':
                old +=1
        if not filtered_df.empty:
            job = filtered_df['직업'].iloc[0]
            #전문기술(1)', '연예인(2)', '기타(3)', '서비스(4)', '운동선수(5)', '사회복지(6)', '예술가(7)', '산업(8)', '금융(9)'
            if job == '전문기술':
                job1 +=1
            elif job == '연예인':
                job2 +=1
            elif job == '기타':
                job3 +=1
            elif job == '서비스':
                job4 +=1
            elif job == '운동선수':
                job5 +=1
            elif job == '사회복지':
                job6 +=1
            elif job == '예술가':
                job7 +=1
            elif job == '산업':
                job8 +=1
            elif job == '금융':
                job9 +=1



    m_data.append(male_count)
    w_data.append(female_count)
    child.append(children)
    teen.append(Teenager)
    you.append(youth)
    mid.append(middle)
    o.append(old)

    o1.append(job1)
    o2.append(job2)
    o3.append(job3)
    o4.append(job4)
    o5.append(job5)
    o6.append(job6)
    o7.append(job7)
    o8.append(job8)
    o9.append(job9)



    print(f"{i}회차")

    print(male_count)
    print(female_count)
    print("-----------------")

print(f"Male count per episode: {m_data}")
print(f"Female count per episode: {w_data}")

0회차
0
0
-----------------
1회차
0
0
-----------------
gender :M
gender :M
2회차
2
0
-----------------
3회차
0
0
-----------------
4회차
0
0
-----------------
5회차
0
0
-----------------
6회차
0
0
-----------------
7회차
0
0
-----------------
8회차
0
0
-----------------
gender :M
9회차
1
0
-----------------
gender :W
gender :W
gender :M
gender :W
gender :W
gender :W
gender :W
10회차
1
6
-----------------
gender :M
11회차
1
0
-----------------
gender :W
12회차
0
1
-----------------
gender :M
gender :W
13회차
1
1
-----------------
gender :M
14회차
1
0
-----------------
15회차
0
0
-----------------
16회차
0
0
-----------------
gender :M
17회차
1
0
-----------------
gender :M
gender :M
18회차
2
0
-----------------
19회차
0
0
-----------------
20회차
0
0
-----------------
21회차
0
0
-----------------
22회차
0
0
-----------------
gender :M
23회차
1
0
-----------------
24회차
0
0
-----------------
25회차
0
0
-----------------
gender :M
gender :M
gender :W
gender :W
gender :W
gender :W
gender :M
gender :W
26회차
3
5
-----------------
gender :W
gender :W
gender :W
gender :M
gender :M
gender :W
gender :M
27회차
3
4
-----------------
gender :M
gender :M
gender :M
gender :M
gender :W
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
28회차
10
1
-----------------
gender :W
gender :W
gender :W
gender :M
gender :M
gender :M
gender :W
gender :M
gender :M
gender :M
29회차
6
4
-----------------
gender :W
gender :M
gender :M
gender :W
gender :W
gender :M
gender :M
gender :M
gender :M
30회차
6
3
-----------------
gender :M
gender :W
gender :M
gender :W
gender :W
gender :M
gender :M
gender :M
31회차
5
3
-----------------
gender :M
gender :W
gender :W
gender :M
gender :W
gender :M
gender :M
32회차
4
3
-----------------
gender :M
gender :M
gender :M
gender :M
gender :W
gender :W
gender :M
gender :M
gender :W
33회차
6
3
-----------------
gender :W
gender :M
gender :W
gender :M
gender :M
gender :W
gender :M
gender :M
gender :M
34회차
6
3
-----------------
gender :M
gender :M
gender :W
gender :M
gender :M
gender :W
gender :M
gender :W
gender :M
35회차
6
3
-----------------
gender :M
gender :W
gender :M
gender :W
gender :M
gender :M
gender :M
gender :W
gender :W
gender :W
gender :W
36회차
5
6
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
gender :W
gender :W
37회차
7
2
-----------------
gender :W
gender :M
gender :M
gender :W
gender :M
gender :W
gender :M
gender :W
gender :M
gender :W
gender :W
gender :W
gender :W
gender :W
38회차
5
9
-----------------
gender :W
gender :M
gender :M
gender :M
gender :M
39회차
4
1
-----------------
gender :W
gender :W
gender :W
gender :W
gender :M
gender :M
gender :M
gender :M
gender :W
gender :M
gender :W
40회차
5
6
-----------------
gender :W
gender :M
gender :M
gender :M
gender :W
gender :M
gender :M
41회차
5
2
-----------------
gender :W
gender :M
gender :W
gender :W
gender :M
gender :M
gender :W
gender :M
gender :W
42회차
4
5
-----------------
gender :M
gender :W
gender :M
gender :W
gender :W
gender :W
gender :W
43회차
2
5
-----------------
gender :M
gender :M
gender :W
gender :W
gender :M
gender :W
gender :M
gender :M
44회차
5
3
-----------------
gender :M
gender :M
gender :W
gender :W
gender :W
gender :M
gender :M
gender :M
gender :W
gender :M
45회차
6
4
-----------------
gender :M
gender :M
gender :M
gender :W
gender :W
gender :W
gender :M
gender :M
gender :W
gender :M
gender :M
gender :W
gender :W
gender :W
gender :W
gender :W
gender :W
46회차
7
10
-----------------
gender :W
gender :W
gender :W
gender :W
gender :W
gender :M
47회차
1
5
-----------------
gender :M
gender :W
gender :W
gender :M
gender :M
48회차
3
2
-----------------
gender :M
gender :W
gender :W
gender :W
gender :W
49회차
1
4
-----------------
gender :W
gender :W
gender :W
gender :M
gender :W
50회차
1
4
-----------------
gender :M
gender :M
gender :W
gender :M
51회차
3
1
-----------------
gender :M
gender :W
gender :M
gender :M
52회차
3
1
-----------------
gender :W
gender :W
gender :M
gender :M
53회차
2
2
-----------------
gender :M
gender :W
gender :W
gender :M
gender :W
gender :M
gender :M
54회차
4
3
-----------------
gender :M
gender :W
gender :M
gender :W
gender :M
gender :M
55회차
4
2
-----------------
gender :W
gender :M
gender :M
gender :M
gender :W
56회차
3
2
-----------------
gender :M
gender :W
gender :M
gender :M
gender :W
57회차
3
2
-----------------
gender :M
gender :M
gender :M
gender :W
gender :M
58회차
4
1
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
59회차
5
0
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
60회차
6
0
-----------------
gender :M
gender :W
gender :M
gender :W
gender :M
gender :M
gender :M
gender :W
61회차
5
3
-----------------
gender :M
gender :M
gender :W
gender :M
gender :M
62회차
4
1
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
63회차
5
0
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
64회차
5
0
-----------------
gender :M
gender :W
gender :M
gender :W
65회차
2
2
-----------------
gender :M
gender :M
gender :W
gender :M
66회차
3
1
-----------------
gender :M
gender :M
gender :W
gender :M
gender :W
67회차
3
2
-----------------
gender :M
gender :M
gender :M
gender :M
gender :W
68회차
4
1
-----------------
gender :W
gender :M
gender :M
gender :M
gender :W
gender :W
gender :M
69회차
4
3
-----------------
gender :M
gender :W
gender :M
gender :M
gender :M
gender :M
gender :W
70회차
5
2
-----------------
gender :W
gender :W
gender :M
gender :W
gender :M
gender :M
71회차
3
3
-----------------
gender :W
gender :M
gender :W
gender :M
gender :M
72회차
3
2
-----------------
gender :W
gender :M
gender :W
gender :M
gender :M
73회차
3
2
-----------------
gender :M
gender :W
gender :W
gender :M
gender :M
74회차
3
2
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
75회차
5
0
-----------------
gender :W
gender :M
gender :M
gender :W
gender :M
76회차
3
2
-----------------
gender :M
gender :M
gender :M
gender :W
gender :M
77회차
4
1
-----------------
gender :M
gender :M
gender :W
gender :M
gender :M
gender :M
78회차
5
1
-----------------
gender :W
gender :W
gender :W
gender :M
gender :M
79회차
2
3
-----------------
gender :M
gender :M
gender :M
gender :W
gender :M
gender :M
80회차
5
1
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
81회차
5
0
-----------------
gender :M
gender :M
gender :W
gender :W
gender :M
82회차
3
2
-----------------
gender :M
gender :W
gender :M
gender :W
83회차
2
2
-----------------
gender :W
gender :W
gender :M
gender :M
84회차
2
2
-----------------
gender :W
gender :M
gender :M
gender :W
gender :M
85회차
3
2
-----------------
gender :W
gender :M
gender :M
gender :M
86회차
3
1
-----------------
gender :M
gender :M
gender :M
gender :M
gender :W
gender :W
87회차
4
2
-----------------
gender :W
gender :M
gender :M
gender :W
88회차
2
2
-----------------
gender :M
gender :W
gender :M
gender :M
gender :M
gender :M
89회차
5
1
-----------------
gender :M
gender :M
gender :W
gender :M
gender :M
90회차
4
1
-----------------
gender :W
gender :W
gender :M
gender :M
gender :W
91회차
2
3
-----------------
gender :M
gender :M
gender :M
gender :M
92회차
4
0
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
93회차
5
0
-----------------
gender :M
gender :M
gender :M
gender :W
94회차
3
1
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
95회차
6
0
-----------------
gender :M
gender :M
gender :W
gender :M
gender :W
96회차
3
2
-----------------
gender :M
gender :M
gender :W
gender :M
gender :W
97회차
3
2
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
98회차
6
0
-----------------
gender :W
gender :W
gender :M
99회차
1
2
-----------------
gender :M
gender :W
gender :M
gender :M
gender :M
100회차
4
1
-----------------
gender :M
gender :M
gender :M
101회차
3
0
-----------------
gender :M
gender :M
gender :W
gender :M
102회차
3
1
-----------------
gender :W
gender :W
gender :M
103회차
1
2
-----------------
gender :M
gender :M
gender :W
104회차
2
1
-----------------
gender :W
gender :M
gender :M
gender :M
105회차
3
1
-----------------
gender :M
gender :M
gender :M
gender :M
gender :W
gender :W
106회차
4
2
-----------------
gender :M
gender :M
gender :W
gender :W
107회차
2
2
-----------------
gender :M
gender :M
gender :W
gender :M
108회차
3
1
-----------------
gender :M
gender :M
gender :M
gender :W
109회차
3
1
-----------------
gender :M
gender :W
gender :W
110회차
1
2
-----------------
gender :M
gender :M
gender :M
gender :M
111회차
4
0
-----------------
gender :M
gender :M
gender :W
gender :M
112회차
3
1
-----------------
gender :M
gender :W
gender :W
gender :M
113회차
2
2
-----------------
gender :M
gender :W
gender :M
gender :M
gender :W
114회차
3
2
-----------------
gender :M
gender :W
gender :M
gender :M
gender :W
115회차
3
2
-----------------
gender :M
gender :M
116회차
2
0
-----------------
gender :M
gender :W
gender :M
gender :W
117회차
2
2
-----------------
gender :M
gender :W
gender :W
gender :W
gender :M
118회차
2
3
-----------------
gender :M
gender :W
gender :M
gender :M
gender :M
gender :M
119회차
5
1
-----------------
gender :M
gender :W
gender :W
gender :W
gender :W
120회차
1
4
-----------------
gender :W
gender :M
gender :M
gender :M
121회차
3
1
-----------------
gender :W
gender :W
gender :M
gender :M
122회차
2
2
-----------------
gender :W
gender :M
gender :W
gender :M
123회차
2
2
-----------------
gender :M
gender :M
gender :M
124회차
3
0
-----------------
gender :W
gender :W
gender :M
gender :W
125회차
1
3
-----------------
gender :M
gender :M
gender :W
gender :M
gender :M
126회차
4
1
-----------------
gender :M
gender :W
gender :M
gender :W
gender :M
127회차
3
2
-----------------
gender :M
128회차
1
0
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
129회차
5
0
-----------------
gender :M
gender :M
gender :M
gender :M
130회차
4
0
-----------------
gender :M
gender :M
gender :M
gender :W
gender :W
131회차
3
2
-----------------
gender :M
gender :M
gender :W
gender :W
gender :M
132회차
3
2
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
133회차
6
0
-----------------
gender :M
gender :M
gender :M
gender :M
134회차
4
0
-----------------
gender :M
gender :M
gender :W
gender :M
135회차
3
1
-----------------
gender :M
gender :W
gender :M
gender :M
136회차
3
1
-----------------
gender :M
gender :M
gender :M
gender :M
137회차
4
0
-----------------
gender :M
gender :M
gender :M
gender :M
138회차
4
0
-----------------
gender :M
gender :M
gender :M
gender :M
139회차
4
0
-----------------
gender :M
gender :M
gender :M
gender :M
140회차
4
0
-----------------
gender :W
gender :M
gender :M
gender :M
gender :M
141회차
4
1
-----------------
gender :M
gender :W
gender :M
gender :M
142회차
3
1
-----------------
gender :M
gender :M
143회차
2
0
-----------------
gender :M
gender :M
gender :M
144회차
3
0
-----------------
gender :M
gender :W
gender :W
145회차
1
2
-----------------
gender :M
gender :M
gender :W
gender :M
gender :M
146회차
4
1
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
147회차
6
0
-----------------
gender :M
gender :M
gender :M
gender :M
148회차
4
0
-----------------
gender :W
gender :W
gender :M
gender :M
149회차
2
2
-----------------
gender :M
gender :M
gender :M
gender :W
150회차
3
1
-----------------
gender :M
gender :M
gender :M
151회차
3
0
-----------------
gender :M
gender :M
gender :M
gender :W
gender :M
gender :W
gender :M
152회차
5
2
-----------------
gender :W
gender :W
gender :W
gender :M
gender :M
153회차
2
3
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
gender :W
154회차
5
1
-----------------
gender :M
gender :W
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
gender :W
gender :W
155회차
7
3
-----------------
gender :M
gender :W
gender :M
gender :M
156회차
3
1
-----------------
gender :M
gender :W
gender :W
gender :M
157회차
2
2
-----------------
gender :M
gender :M
gender :M
gender :M
158회차
4
0
-----------------
gender :W
gender :M
gender :M
gender :M
gender :W
159회차
3
2
-----------------
gender :W
gender :W
gender :M
gender :M
gender :M
160회차
3
2
-----------------
gender :W
gender :M
gender :M
gender :W
gender :M
161회차
3
2
-----------------
gender :M
gender :W
gender :M
gender :W
162회차
2
2
-----------------
gender :M
gender :M
gender :W
gender :M
163회차
3
1
-----------------
gender :M
gender :M
gender :W
gender :M
164회차
3
1
-----------------
gender :W
gender :M
gender :M
gender :M
165회차
3
1
-----------------
gender :M
gender :M
gender :M
gender :M
166회차
4
0
-----------------
gender :M
gender :W
gender :M
gender :M
167회차
3
1
-----------------
gender :M
gender :M
gender :W
gender :M
gender :M
168회차
4
1
-----------------
gender :W
gender :W
gender :W
gender :M
gender :M
169회차
2
3
-----------------
gender :M
gender :M
gender :M
170회차
3
0
-----------------
gender :M
gender :W
gender :M
171회차
2
1
-----------------
gender :M
gender :W
gender :W
gender :M
gender :M
gender :M
gender :M
gender :M
172회차
6
2
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
173회차
8
0
-----------------
gender :M
gender :M
gender :M
gender :W
gender :M
174회차
4
1
-----------------
gender :M
gender :M
gender :W
175회차
2
1
-----------------
gender :M
gender :M
gender :M
gender :W
176회차
3
1
-----------------
gender :W
gender :W
gender :M
gender :W
gender :M
177회차
2
3
-----------------
gender :W
gender :W
gender :M
gender :W
gender :M
178회차
2
3
-----------------
gender :W
gender :M
gender :M
gender :M
179회차
3
1
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
180회차
6
0
-----------------
gender :M
181회차
1
0
-----------------
gender :M
gender :M
gender :M
182회차
3
0
-----------------
gender :W
gender :W
gender :W
gender :M
183회차
1
3
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
184회차
6
0
-----------------
gender :W
gender :M
gender :M
185회차
2
1
-----------------
gender :M
gender :W
186회차
1
1
-----------------
gender :W
gender :M
gender :M
gender :W
gender :M
187회차
3
2
-----------------
gender :W
gender :W
gender :W
gender :W
188회차
0
4
-----------------
gender :M
gender :M
gender :M
189회차
3
0
-----------------
gender :W
gender :M
gender :M
190회차
2
1
-----------------
gender :M
gender :W
gender :W
gender :W
191회차
1
3
-----------------
gender :W
gender :M
gender :M
192회차
2
1
-----------------
gender :M
gender :M
gender :M
193회차
3
0
-----------------
gender :M
gender :M
gender :M
gender :W
gender :M
194회차
4
1
-----------------
gender :M
gender :M
gender :W
195회차
2
1
-----------------
gender :M
gender :M
gender :M
gender :W
196회차
3
1
-----------------
gender :M
gender :W
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
197회차
7
1
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
198회차
5
0
-----------------
gender :M
gender :M
gender :Y
199회차
2
0
-----------------
gender :M
gender :W
gender :M
gender :M
200회차
3
1
-----------------
gender :M
gender :M
gender :M
gender :M
201회차
4
0
-----------------
gender :W
gender :M
gender :M
gender :W
202회차
2
2
-----------------
gender :M
gender :M
gender :M
gender :M
203회차
4
0
-----------------
gender :M
gender :M
gender :W
204회차
2
1
-----------------
gender :M
gender :W
gender :M
205회차
2
1
-----------------
gender :W
gender :W
gender :M
gender :W
206회차
1
3
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
gender :W
207회차
6
1
-----------------
gender :M
gender :W
gender :M
gender :M
208회차
3
1
-----------------
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
209회차
6
0
-----------------
gender :M
gender :W
gender :M
gender :M
210회차
3
1
-----------------
gender :W
gender :W
gender :W
gender :M
gender :M
gender :M
gender :M
211회차
4
3
-----------------
gender :M
gender :W
212회차
1
1
-----------------
gender :W
gender :M
gender :M
gender :M
gender :M
gender :M
gender :M
213회차
6
1
-----------------
gender :M
gender :W
gender :M
gender :W
214회차
2
2
-----------------
gender :W
gender :M
gender :M
gender :W
gender :M
gender :M
gender :M
215회차
5
2
-----------------
gender :M
gender :W
gender :M
gender :M
216회차
3
1
-----------------
gender :M
gender :W
gender :W
gender :M
gender :M
217회차
3
2
-----------------
gender :M
gender :M
gender :W
218회차
2
1
-----------------
gender :W
gender :M
gender :M
gender :M
219회차
3
1
-----------------
gender :W
gender :M
gender :M
gender :W
220회차
2
2
-----------------
gender :W
gender :M
gender :W
221회차
1
2
-----------------
gender :M
gender :W
gender :M
222회차
2
1
-----------------
gender :M
gender :W
gender :W
gender :M
223회차
2
2
-----------------
gender :W
gender :W
gender :M
gender :W
224회차
1
3
-----------------
gender :M
gender :W
gender :W
225회차
1
2
-----------------
gender :M
gender :W
gender :M
gender :W
gender :M
226회차
3
2
-----------------
gender :W
gender :M
gender :M
gender :M
gender :M
gender :W
227회차
4
2
-----------------
gender :M
gender :W
gender :W
gender :W
228회차
1
3
-----------------
Male count per episode: [0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 2, 0, 0, 0, 0, 1, 0, 0, 3, 3, 10, 6, 6, 5, 4, 6, 6, 6, 5, 7, 5, 4, 5, 5, 4, 2, 5, 6, 7, 1, 3, 1, 1, 3, 3, 2, 4, 4, 3, 3, 4, 5, 6, 5, 4, 5, 5, 2, 3, 3, 4, 4, 5, 3, 3, 3, 3, 5, 3, 4, 5, 2, 5, 5, 3, 2, 2, 3, 3, 4, 2, 5, 4, 2, 4, 5, 3, 6, 3, 3, 6, 1, 4, 3, 3, 1, 2, 3, 4, 2, 3, 3, 1, 4, 3, 2, 3, 3, 2, 2, 2, 5, 1, 3, 2, 2, 3, 1, 4, 3, 1, 5, 4, 3, 3, 6, 4, 3, 3, 4, 4, 4, 4, 4, 3, 2, 3, 1, 4, 6, 4, 2, 3, 3, 5, 2, 5, 7, 3, 2, 4, 3, 3, 3, 2, 3, 3, 3, 4, 3, 4, 2, 3, 2, 6, 8, 4, 2, 3, 2, 2, 3, 6, 1, 3, 1, 6, 2, 1, 3, 0, 3, 2, 1, 2, 3, 4, 2, 3, 7, 5, 2, 3, 4, 2, 4, 2, 2, 1, 6, 3, 6, 3, 4, 1, 6, 2, 5, 3, 3, 2, 3, 2, 1, 2, 2, 1, 1, 3, 4, 1]
Female count per episode: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 4, 1, 4, 3, 3, 3, 3, 3, 3, 6, 2, 9, 1, 6, 2, 5, 5, 3, 4, 10, 5, 2, 4, 4, 1, 1, 2, 3, 2, 2, 2, 1, 0, 0, 3, 1, 0, 0, 2, 1, 2, 1, 3, 2, 3, 2, 2, 2, 0, 2, 1, 1, 3, 1, 0, 2, 2, 2, 2, 1, 2, 2, 1, 1, 3, 0, 0, 1, 0, 2, 2, 0, 2, 1, 0, 1, 2, 1, 1, 2, 2, 1, 1, 2, 0, 1, 2, 2, 2, 0, 2, 3, 1, 4, 1, 2, 2, 0, 3, 1, 2, 0, 0, 0, 2, 2, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 2, 1, 0, 0, 2, 1, 0, 2, 3, 1, 3, 1, 2, 0, 2, 2, 2, 2, 1, 1, 1, 0, 1, 1, 3, 0, 1, 2, 0, 1, 1, 1, 3, 3, 1, 0, 0, 0, 3, 0, 1, 1, 2, 4, 0, 1, 3, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 2, 0, 1, 1, 3, 1, 1, 0, 1, 3, 1, 1, 2, 2, 1, 2, 1, 1, 2, 2, 1, 2, 3, 2, 2, 2, 3]

In [194]:
print(len(m_data))
print(len(w_data))
print(len(child))
print(len(teen))
print(len(you))
print(len(mid))
print(len(o))
print(len(o1))
print(len(o2))
print(len(o3))
print(len(o4))
print(len(o5))
print(len(o6))
print(len(o7))
print(len(o9))
print(len(o9))

# 길이 확인

229
229
229
229
229
229
229
229
229
229
229
229
229
229
229
229

##### #전문기술(1)', '연예인(2)', '기타(3)', '서비스(4)', '운동선수(5)', '사회복지(6)', '예술가(7)', '산업(8)', '금융(9)

In [195]:
new_data['남자'] = m_data
new_data['여자'] = w_data
new_data['어린이'] = child
new_data['청소년'] = teen
new_data['청년'] = you
new_data['중년'] = mid
new_data['노인'] = o
new_data['전문기술'] = o1
new_data['연예인'] = o2
new_data['기타'] = o3
new_data['서비스'] = o4
new_data['운동선수'] = o5
new_data['사회복지'] = o6
new_data['예술가'] = o7
new_data['산업'] = o8
new_data['금융'] = o9

## 좋아요, 조회수 , 댓글수 가져오기

In [199]:
t_data.head()

,Unnamed: 0,제목,설명,출연자_정보,조회수,좋아요수,댓글수,재생시간(초),년도,회차,출연자
0,0,전설의 유재석 댄싱킹 (엑소♥) | 유 퀴즈 온 더 블럭 YOU QUIZ ON TH...,수요일 밤 11시 tvN ＜유 퀴즈 온 더 블럭＞\n-----------------...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",7722,90,4,189.0,2018,1.0,NaN
1,1,자기야 이런 걸로 웃기지마 (너무 아포) | 유 퀴즈 온 더 블럭 YOU QUIZ ...,수요일 밤 11시 tvN ＜유 퀴즈 온 더 블럭＞\n-----------------...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",1862,26,3,119.0,2018,1.0,NaN
2,2,'tvN 새내기' 유재석 + 조세호가 바로 뽑아 쏜다! | 유 퀴즈 온 더 블럭 Y...,너는 풀어라! 나는 쏠테니!\n유재석X조세호의 유쾌한 서프라이즈!\n\n＜유 퀴즈 ...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",955,19,3,79.0,2018,1.0,NaN
3,3,회사 다니는거 맞죠? 첫번째 ′워라밸′ 유퀴저 | 유 퀴즈 온 더 블럭 YOU QU...,수요일 밤 11시 tvN ＜유 퀴즈 온 더 블럭＞\n-----------------...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",685,13,2,121.0,2018,1.0,NaN
4,4,"유&조, 토스트집 사장님의 ′타임슬립′에 폭소! | 유 퀴즈 온 더 블럭 YOU Q...",수요일 밤 11시 tvN ＜유 퀴즈 온 더 블럭＞\n-----------------...,"['유퀴즈온더블럭', '유퀴즈', '유재석', '조세호', 'tvN', '예능', ...",589,12,1,89.0,2018,1.0,NaN

# ---

# 마무리 단계 (유키즈가 코로나로 인해 플랫폼이 완전이 변경 되었기에  앞전 시즌에 대한 자료는 삭제 처리합니다.)

In [196]:
new_data.drop(labels=range(40), inplace=True)

In [4]:
import pandas as pd

new_data = pd.read_csv('/Users/2suyeon/Desktop/zerobase/1조 유튜브/new_data0207.csv', encoding='utf-8')

In [7]:
man =new_data['남자'].count()
w = new_data['여자'].count()

print(f'남자:{man} , 여자:{w}')

남자:189 , 여자:189

In [11]:
import matplotlib.patches as plt

categories = ['남자' , '여자']
counts=[man, w]

plt.figure(figsize=(8, 5))
plt.bar(categories, counts, color=['blue', 'pink'])
plt.title('남자와 여자의 수 비교')
plt.xlabel('Category')
plt.ylabel('Count')
plt.xticks(categories)
plt.show()

AttributeError: module 'matplotlib.patches' has no attribute 'figure'

In [198]:
new_data.to_csv('new_data.csv', index=False, encoding= 'utf-8')

In [4]:
import pandas as pd

df=pd.read_csv("/Users/2suyeon/Desktop/zerobase/1조 유튜브/수정 - youqize4 _ 100.csv", encoding='utf-8')